<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gallon.dao.UserMapper">
    <select id="getCityList" resultType="com.gallon.pojo.City">
        select * from west2.city_info
    </select>
    <select id="selectCityByName" resultType="com.gallon.pojo.City">
        select * from west2.city_info where name = #{name}
    </select>
    <insert id="addCity" parameterType="com.gallon.pojo.City">
        insert into west2.city_info (id,name,lon,lat) values (#{id},#{name},#{lon},#{lat})
    </insert>
    <delete id="deleteCity" parameterType="int">
        delete from west2.city_info where id = #{id}
    </delete>
</mapper>